@mixin respond($breakpoint) {
  @if $breakpoint == tab-port {
    @media (min-width: 37.5em) {
      @content;
    }
  }
  @if $breakpoint == land-port {
    @media (min-width: 56.25em) {
      @content;
    }
  }
  @if $breakpoint == desktop {
    @media (min-width: 75em) {
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em) {
      @content;
    }
  }
}

@mixin pictureContainer {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

@mixin imageBox {
  min-height: 21.25em;
  min-width: 20.2em;
  background-color: hsl(var(--color-highlight-2));
  border: var(--border-xsm);
  box-shadow: var(--box-shadow-md);
  display: grid;
  place-items: center;
}

@mixin picture {
  height: 15em;
  width: 14em;
  margin-top: 2.5em;
  background-position: center;
  background-size: 105%;
  background-repeat: no-repeat;
  border: var(--border-md);
}

@mixin icon {
  height: 5em;
  width: 5em;
  padding: 0.2em;
  border: var(--border-sm);
  box-shadow: var(--box-shadow-sm);
}
