.about {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  margin-top: 5em;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    'stack'
    'icons'
    'content'
    'image';

  @include respond(land-port) {
    margin: 0;
    grid-auto-columns: 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
      'icons stack'
      'content image';
  }

  &__icons {
    height: 25em;
    grid-area: icons;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    '. . . .'
    '. html css .'
    '. javascript react .';
    border-top: var(--border-sm);
    border-bottom: var(--border-sm);
    place-items: center;
    // padding-top: 25%;
    gap: 1em;
    
    @include respond(land-port) {
      width: 50vw;
      border-top: var(--border-lg);
      border-right: var(--border-sm);
    }

    &--html {
      @include icon;
      grid-area: html;
      background-color: hsl(var(--color-highlight-4));
    }

    &--css {
      @include icon;
      grid-area: css;
      background-color: hsl(var(--color-highlight-1));
    }

    &--javascript {
      @include icon;
      grid-area: javascript;
      background-color: hsl(var(--color-primary-dark));
    }

    &--react {
      @include icon;
      grid-area: react;
      background-color: hsl(var(--color-light-1));
    }
  }

  &__stack {
    height: 25em;
    width: 100%;
    display: grid;
    place-content: center;
    grid-area: stack;
    padding-bottom: 3em;
    border-top: var(--border-lg);
    border-bottom: var(--border-sm);
    background-color: hsl(var(--color-highlight-2));
    
    @include respond(land-port) {
      border-left: var(--border-sm);
    }
  }

  &__list {
    // grid-area: about;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &--item {
      padding: 1em;
      font-weight: 700;
    }
  }

  &__content {
    height: 25em;
    grid-area: content;
    padding: 3em 2em;
    background-color: hsl(var(--color-highlight-2));
    border-bottom: var(--border-sm);
    line-height: 2;
    font-weight: 500;
    display: grid;
    place-content: center;

    @include respond(land-port) {
      border-top: var(--border-sm);
      border-right: var(--border-sm);
      border-bottom: var(--border-lg);
    }
  }

  &__picture {
    height: 25em;
    grid-area: image;
    background-image: url(../../../public/img/background/90sGeometric.svg);
    background-position: contain;
    border-bottom: var(--border-lg);
    position: relative;
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
    place-items: center;
    place-content: center;

    @include respond(land-port) {
      border-top: var(--border-sm);
      border-left: var(--border-sm);
    }
  }
}
