.about {
  height: 100vh;
  width: 100%;
  margin-top: 5em;
  display: flex;
  flex-direction: column;

  // display: grid;
  // grid-auto-rows: 1fr 1fr 1fr 1fr;
  border-top: var(--border-lg);
  border-bottom: var(--border-lg);

  &__skills {
    display: flex;
    flex-direction: column;
    padding: 1em 3em;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &--item {
      padding: 1em;
      font-weight: 700;
    }
  }

  &__icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
    grid-column: 1 / span 4;

    &--icon {
      height: 5em;
      width: 5em;
      padding: 0.2em;
      border: var(--border-sm);
      box-shadow: var(--box-shadow-sm);
    }

    &--1 {
      background-color: hsl(var(--color-highlight-4));
    }

    &--2 {
      background-color: hsl(var(--color-highlight-1));
    }

    &--3 {
        background-color: hsl(var(--color-primary-dark));
    }

    &--4 {
        background-color: hsl(var(--color-light-1));
    }

    &--5 {
        background-color: hsl(var(--color-primary-light));
    }
  }
}
