header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  align-items: center;
}

.nav {
  position: fixed;
  background: hsl(var(--color-light-3) / 0.8);
  color: hsl(var(--color-dark));
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  transform: translateY(-100%);
  transition: transform 0.5s cubic-bezier(0.5, 0, 0.5, 1);
  z-index: 100;

  &__list {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  &__link {
    font-family: var(--text-link);
    font-size: var(--fs-600);
    letter-spacing: 0.1em;
    transition: all 0.3s ease-in-out;

    &:hover,
    &:focus {
      color: hsl(var(--color-highlight-2));
      text-shadow: 0.1em 0.1em 0 hsl(var(--color-dark));
    }
  }
}

// nav button toggle

.nav-toggle {
  padding: 0.5em;
  // color: white;
  // background-color: blue;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 1000;
}

.nav-open .nav {
  transform: translateY(0);
}

.nav-open .hamburger {
  transform: rotate(0.625turn);

  &::before {
    transform: rotate(90deg) translateX(-0.375em);
  }

  &::after {
    opacity: 0;
  }
}

.hamburger {
  display: block;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  background-color: hsl(var(--color-light-2));
  width: 1.5em;
  height: 0.1875em;
  margin: 0.15em 0;
  border-radius: 0.1875em;
  transition: transform 0.25s ease-in-out;
}


.hamburger::before,
.hamburger::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger::before {
  top: 0.25em;
}
.hamburger::after {
  bottom: 0.3125em;
}